<app-menu></app-menu>
<section class="login py-5 bg-light">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-5">
                <img src="../../assets/Image/loginImage.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-7 text-center py-5">
                <h1 class="animate__animated animate__heartBeat animate__infinite">Welcome Back</h1>

                <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                    <div class="form-row py-3 pt-5">
                        <div class="offset-1 col-lg-10">
                            <input type="text"name="nombreUsuario" id="nombreUsuario" class="inp px-3" placeholder="UserName" 
                            [(ngModel)]="nombreUsuario" required>
                        </div>
                    </div>
                    <div class="form-row py-3">
                        <div class="offset-1 col-lg-10">
                            <input type="password" name="password" id="password" class="inp px-3" placeholder="Password"
                            [(ngModel)]="password" required>
                        </div>
                    </div>
                    <div class="form-row py-3">
                        <div class="offset-1 col-lg-10">
                            <button class="btn1" [disabled]="!f.valid" type="submit">SignUp</button>
                        </div>
                    </div>
                </form>
                <p>Or login With</p>
                <span><i class="fab fa-facebook"></i></span>
                <span><i class="fab fa-google-plus"></i></span>
            </div>
        </div>
    </div>
</section>